example_nodered.txt
[{"id":"d3db5a6d.2c24a8","type":"websocket-listener","path":"/ws/VR","wholemsg":"false"},{"id":"49e1341a.b61ecc","type":"websocket-listener","path":"/ws/adc","wholemsg":"false"},{"id":"2920eab7.d6df16","type":"mqtt-broker","broker":"192.168.10.50","port":"1883","clientid":""},{"id":"d6fdd523.290228","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":167,"y":139,"z":"61d976dd.9e2688","wires":[["c421f6a.f3bde08"]]},{"id":"c421f6a.f3bde08","type":"function","name":"","func":"context.count = context.count||0;\n\n\tcontext.count +=1;\n\n\tif(context.count >= 20){\n    \tcontext.count=0;\n\t}\n\tvar msg ={'payload':context.count}\n\treturn msg;\n","outputs":1,"x":339,"y":139,"z":"61d976dd.9e2688","wires":[["ff2934ee.00d6c8"]]},{"id":"ff2934ee.00d6c8","type":"mqtt out","name":"","topic":"test/adc","qos":"0","retain":"","broker":"2920eab7.d6df16","x":557,"y":138,"z":"61d976dd.9e2688","wires":[]},{"id":"f4874ec1.0b78b","type":"mqtt in","name":"","topic":"test/adc","broker":"2920eab7.d6df16","x":130,"y":343,"z":"61d976dd.9e2688","wires":[["2e192e0.fd1e6d2"]]},{"id":"2e192e0.fd1e6d2","type":"websocket out","name":"","server":"49e1341a.b61ecc","client":"","x":423,"y":349,"z":"61d976dd.9e2688","wires":[]},{"id":"c286059d.3d79f8","type":"mqtt out","name":"","topic":"test/VR","qos":"","retain":"","broker":"2920eab7.d6df16","x":567,"y":208,"z":"61d976dd.9e2688","wires":[]},{"id":"f2c5579a.0d3aa8","type":"websocket out","name":"","server":"d3db5a6d.2c24a8","client":"","x":425,"y":417,"z":"61d976dd.9e2688","wires":[]},{"id":"aa8995f0.557668","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":167,"y":213,"z":"61d976dd.9e2688","wires":[["9096028e.6f6a"]]},{"id":"9096028e.6f6a","type":"function","name":"","func":"context.count = context.count||0;\n\n\tcontext.count +=5;\n\n\tif(context.count >= 100){\n    \tcontext.count=0;\n\t}\n\tvar msg ={'payload':context.count}\n\treturn msg;\n","outputs":1,"x":349,"y":212,"z":"61d976dd.9e2688","wires":[["c286059d.3d79f8"]]},{"id":"8dc9eb29.723618","type":"mqtt in”,"name":"","topic":"test/VR","broker":"2920eab7.d6df16","x":133,"y":424,"z":"61d976dd.9e2688","wires":[["f2c5579a.0d3aa8"]]}]
